* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
.container {
  padding: 40px;
  height: 100dvh;
  width: 100dvw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60dvw;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 12px;
}

.gallery img {
  height: 70dvh;
  width: 60dvw;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.left-icon,
.right-icon {
  position: fixed;
  top: 45%;
  width: 70px;
  height: 70px;
}
.left-icon {
  left: 10%;
}
.right-icon {
  right: 10%;
}
