body {
  background-color: #ecf0f1;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 94%;
  padding: 10px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.75;
  cursor: pointer;
  height: 220px;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* light box */
.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}

.lightbox-content {
  position: relative;
  width: 55%;
  height: 58%;
  margin: 5% auto;
  margin-top: 100px;
}
.lightbox-content-img {
  width: 100%;
  height: 100%;
  border: 6px solid #fff;
  object-fit: cover;
}

.lightbox-prev,
.lightbox-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.lightbox-prev{
  left: 0;
}
.lightbox-next{
  right: 0;
}