body {
  background-color: #ecf0f1;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 94%;
  padding: 10px;
  box-shadow: 00 3px 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.75;
  cursor: pointer;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
