/* ===== Global ===== */
body {
  background-color: #0b2830;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Gallery Grid ===== */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;

  width: 70%;
  padding: 16px;
}

/* ===== Gallery Item ===== */
.gallery-item {
  opacity: 0.8;
  cursor: pointer;
  height: 200px;
  transition: opacity 0.3s ease;
}

.gallery-item:hover {
  opacity: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ===== Lightbox Overlay ===== */
.lightbox {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* ===== Lightbox Content ===== */
.lightbox-content {
  position: relative;
  width: min(90%, 800px);
  height: 70vh;
  margin: 5vh auto;
}

.lightbox-content-img {
  width: 460px;
  height: 350px;
  border: 6px solid #fff;
  object-fit: cover;
  position: absolute;
  top: 23%;
  left: 21%;
}

/* ===== Navigation Arrows ===== */
.lightbox-prev,
.lightbox-next,
.lightbox-close {
  position: absolute;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 8px;
}

.lightbox-prev {
  top: 61%;
  left: 13.5%;
}

.lightbox-next {
  top: 61%;
  right: 12.5%;
}
.lightbox-close {
  top: 25%;
  right: 18%;
}

/* ===== Mobile Responsive ===== */
@media (max-width: 768px) {
  .lightbox-content {
    width: 95%;
    height: 60vh;
  }

  .lightbox-prev {
    left: 10px;
  }

  .lightbox-next {
    right: 10px;
  }
}
